<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Home </title>
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <header>
        <div class="nav">
        <nav>
            <a href="/">Home</a>
            <a href="/login">Log in</a>
            <a href="/register"> Register</a>
            <a href="/post"> Post</a>
            <a href="/logout"> Log out</a>
        </nav>
        </div>
        <h1> Gabble</h1>

    </header>
    <body>


        <div class="showPost">
            {{#post}}
            <a href="/post/{{id}}">{{post}}</a>
            <h3>{{title}}</h3>
            <p>{{createdAt}}</p>
            <p>{{username}}</p>

            <form class="" action="/like" method="post">
                <button type="submit" name="button">Like!</button>
            </form>

            {{/post}}

        </div>


    </body>
</html>
