<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> test</title>
        <link rel="stylesheet" href="/css/new.css">

    </head>
    <header>
        <h1> testing </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/post"> Post</a>
            <a href="/login">Log in</a>
            <a href="/register"> Register</a>
            <a href="/logout"> Log out</a>
        </nav>
    </header>
    <body>

    </body>
</html>
