nav a {
    text-decoration: none;
    color: grey;
    text-align: center;
    margin: 10px;
}
.nav {
    width: 700px;
    margin-left: 400px;
}

h1 {
    color:white;
    text-align: center;
    background-color: brown;
    padding:30px;
}

label {
    color:brown;
    font-family: sans-serif;
}

input[type="text"] {
    padding:5px;
    border-radius: 10px;
    width: 200px;
}

textarea {
    padding:5px;
    border-radius: 10px;
}

button {
    background-color: black;
    color:white;
    padding:10px;
    margin:10px;
}

form {
    width:500px;
    margin:0 auto;
}

h3 {
    color:grey;
    text-align: center;
}
